.header {
  border: 1px solid rgba(206, 181, 111, 0.15);
  padding: 15px 0;

  @media screen and (max-width: 700px) {
    border: none;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    .button {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}
